[Unit]
Description=Servidor Gestionado Go

[Service]
ExecStart=/home/debian/srvimglinux 8000
WorkingDirectory=/home/debian/
Restart=always

[Install]
WantedBy=multi-user.target